html {
 background-color: bisque;
}
body {
    background-color: dimgray;
    margin: 50px;
    position: relative; 
}
img {
    width: 200px;
    float: left;
    margin: 10px;
}
.NavTitle {
    float: left;
    padding: 10px;
    background-color: lightcyan;
    font-size: xx-large;
    color: lightslategrey;
    font-family: fantasy;
}